<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>email</display-name>

    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>com.app.email.EmailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/xx</url-pattern>
    </servlet-mapping>

</web-app>